@model MYUSIS.Models.StudentLogin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<div class="alert alert-warning" role="alert" style="margin-left: 25px; margin-right: 25px;">
        <p><h5 style="text-align: center;"><b>Öğrenci Kullanıcı Bilgi Detayları Bölümündesiniz</b></h5></p><hr />
        <p style="text-align: center;">Seçtiğiniz Öğrencinin Kullanıcı Bilgileri Aşağıdaki Gibidir.</p>
    </div>
	
<div class="card shadow mb-4" style="margin-left: 25px; margin-right: 25px;">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Öğretmen Bilgileri</h6>
    </div>
    <div class="card-body">
        <div><b>Adı Soyadı: </b>@Html.DisplayFor(model => model.Student.FullName)</div>
        <div><b>Kullanıcı Adı: </b>@Html.DisplayFor(model => model.UserName)</div><hr/>
        <div><b>Kullanıcı Mail Adresi: </b>@Html.DisplayFor(model => model.Mail)</div>
        <div><b>Kullanıcı Şifresi: </b>@Html.DisplayFor(model => model.Password)</div>
    </div>
</div>

<div class="col-md-offset-2 col-md-10" style="margin-left: 15px;">
    <button class="btn btn-warning text-white">
        @Html.ActionLink("Düzenle", "Edit", new { id = Model.StudentLoginID }, new { @class = "btn-sm btn-warning" })
    </button>
    <a class="btn btn-info" href="/StudentLogins/Index" role="button">Geri Dön</a>
</div>

	@*
    <div>
        <h4>StudentLogin</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Student.FullName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Student.FullName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StudentLoginID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
	*@
