@model MYUSIS.Models.StudentAdress

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageOgrenci.cshtml";
}

<div class="alert alert-warning" role="alert" style="margin-left: 25px; margin-right: 25px;">
    <p><h5 style="text-align: center;"><b>Öğrenci Adres Bilgisi Bölümündesiniz</b></h5></p><hr />
    <p style="text-align: center;">Seçtiğiniz Öğrenci Adres Bilgisi Aşağıdaki Gibidir.</p>
</div>

<div>
    <div class="card shadow mb-4" style="margin-left: 25px; margin-right: 25px;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger">Öğrenci Adres Bilgileri</h6>
        </div>
        <div class="card-body">
            <div><b>Adı Soyadı: </b>@Html.DisplayFor(model => model.Student.FullName)</div>
            <div><b>Telefon Numarası: </b>@Html.DisplayFor(model => model.Telephone)</div>
            <div><b>Adresi: </b>@Html.DisplayFor(model => model.Adress)</div>
            <div><b>İlçe: </b>@Html.DisplayFor(model => model.County)</div>
            <div><b>Şehir: </b>@Html.DisplayFor(model => model.City)</div>
            <div><b>Posta Kodu: </b>@Html.DisplayFor(model => model.PK)</div>
        </div>
    </div>
</div>
<br />
<div class="col-md-offset-2 col-md-10" style="margin-left: 25px;">
    <a class="btn btn-info" href="/StudentAdresses1/Index" role="button">Geri Dön</a>
</div>

