@model MYUSIS.Models.StudentLesson

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<div class="alert alert-danger" role="alert" style="margin-left: 25px; margin-right: 25px;">
            <p><h5 style="text-align: center;"><b>Ders Harf Notu Silme Bölümündesiniz</b></h5></p><hr />
            <p style="text-align: center;">Sileceğiniz Ders Harf Notu Bilgileri Aşağıdaki Gibidir</p>
        </div>


<div class="card shadow mb-4" style="margin-left: 25px; margin-right: 25px;">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Harf Notu Bilgileri</h6>
    </div>
    <div class="card-body">
        <div><b>Öğrenci Adı: </b>@Html.DisplayFor(model => model.Student.FullName)</div>
        <div><b>Ders Adı: </b>@Html.DisplayFor(model => model.Course.CourseName)</div>        
		<div><b>Yürütücü Adı: </b>@Html.DisplayFor(model => model.Lecturer.Title) @Html.DisplayFor(model => model.Lecturer.FullName)</div>
        <div><b>Harf Notu: </b>@Html.DisplayFor(model => model.LetterNote)</div>
    </div>
</div>

<div class="col-md-offset-2 col-md-10">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-2 col-md-10" style="margin-left: 10px;">
            <input type="submit" value="Sil" class="btn btn-danger" />
            <a class="btn btn-warning" href="/StudentLessons/Index" role="button">Geri Dön</a>
        </div>
    }
</div>

@*
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>StudentLesson</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LetterNote)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LetterNote)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Course.CourseName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lecturer.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lecturer.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Student.FullName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Student.FullName)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
*@