@model IEnumerable<MYUSIS.Models.StudentLesson>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Dersler: </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Öğrenci Adı</th>
                            <th>Ders Adı</th>
                            <th>Yürütücüsü</th>
							<th>Harf Notu</th>
                            <th>Düzenle</th>
                            <th>Detaylar</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Öğrenci Adı</th>
                            <th>Ders Adı</th>
                            <th>Yürütücüsü</th>
							<th>Harf Notu</th>
                            <th>Düzenle</th>
                            <th>Detaylar</th>
                            <th>Sil</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
							<td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
                                
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                                    @Html.DisplayFor(modelItem => item.Lecturer.Title) @Html.DisplayFor(modelItem => item.Lecturer.FullName)
                                </td>
            <td>
                @Html.DisplayFor(modelItem => item.LetterNote)
            </td>
                                
                                <td>
                                    @Html.ActionLink("Düzenle", "Edit", new { id = item.StudentLesson1 }, new { @class = "btn-sm btn-primary" })
                                </td>
                                <td>
                                    @Html.ActionLink("Detaylar", "Details", new { id = item.StudentLesson1 }, new { @class = "btn-sm btn-warning" })
                                </td>
                                <td>
                                    @Html.ActionLink("Sil", "Delete", new { id = item.StudentLesson1 }, new { @class = "btn-sm btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LetterNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecturer.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.FullName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LetterNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecturer.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StudentLesson1 }) |
                @Html.ActionLink("Details", "Details", new { id=item.StudentLesson1 }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StudentLesson1 })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
*@