@model MYUSIS.Models.StudentExam

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageOgretmen.cshtml";
}


<div class="alert alert-danger" role="alert" style="margin-left: 25px; margin-right: 25px;">
    <p><h5 style="text-align: center;"><b>Öğrenci Not Bilgileri Silme Bölümündesiniz</b></h5></p><hr />
    <p style="text-align: center;">Silinecek Öğrencinin Not Bilgilerinin Detayları Aşağıdaki Gibidir.</p>
</div>



<body>
    <div class="card shadow mb-4" style="margin-left: 25px; margin-right: 25px;">
        <!-- Card Header - Accordion -->
        <a href="#collapseCourse" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCourse">
            <h6 class="m-0 font-weight-bold text-info">Ders Genel Bilgileri</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseLecturer">
            <div class="card-body">
                <div><b>Öğrenci Adı: </b> @Html.DisplayFor(model => model.Student.FullName)</div>
                <div><b>Ders Adı: </b>@Html.DisplayFor(model => model.Course.CourseName)</div>
                <div><b>Yürütücü Adı: </b>@Html.DisplayFor(model => model.Lecturer.Title) @Html.DisplayFor(model => model.Lecturer.FullName)</div><hr />

                <div><b>1. Vize Notu: </b>@Html.DisplayFor(model => model.ExamOne)</div>
                <div><b>2. Vize Notu: </b>@Html.DisplayFor(model => model.ExamTwo)</div>
                <div><b>Ödev Notu: </b>@Html.DisplayFor(model => model.Homework)</div>
                <div><b>Proje Notu: </b>@Html.DisplayFor(model => model.Project)</div>
                <div><b>Final Notu: </b>@Html.DisplayFor(model => model.ExamFinal)</div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @*<div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>*@

        <div class="col-md-offset-2 col-md-10" style="margin-left: 20px; margin-bottom: 25px;">
            <input type="submit" value="Sil" class="btn btn-danger" />
            <a class="btn btn-warning" href="/StudentExams2/Index" role="button">Geri Dön</a>
        </div>
    }
</body>
