@model IEnumerable<MYUSIS.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageOgrenci.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Öğrenciler: </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Adı Soyadı</th>
                            <th>Numarası</th>
                            <th>Bölüm Adı</th>
                            <th>Fakülte Adı</th>
                            <th>Danışmanı</th>
                            <th>Detay</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Adı Soyadı</th>
                            <th>Numarası</th>
                            <th>Bölüm Adı</th>
                            <th>Fakülte Adı</th>
                            <th>Danışmanı</th>
                            <th>Detay</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Faculty.FacultyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department.DepartmenName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lecturer.Title) @Html.DisplayFor(modelItem => item.Lecturer.FullName)
                                </td>
                                <td>
                                    @Html.ActionLink("Detaylar", "Details", new { id = item.StudentID }, new { @class = "btn-sm btn-warning" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

