@model MYUSIS.Models.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageOgrenci.cshtml";
}


<div class="alert alert-warning" role="alert" style="margin-left: 25px; margin-right: 25px;">
    <p><h5 style="text-align: center;"><b>Ders Bilgi Bölümündesiniz</b></h5></p><hr />
    <p style="text-align: center;">Seçtiğiniz Dersin Bilgileri Aşağıdaki Gibidir.</p>
</div>

<div class="card shadow mb-4" style="margin-left: 25px; margin-right: 25px;">
    <!-- Card Header - Accordion -->
    <a href="#collapseCourse" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCourse">
        <h6 class="m-0 font-weight-bold text-primary">Ders Genel Bilgileri</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseLecturer">
        <div class="card-body">
            <div><b>Ders Kodu: </b>@Html.DisplayFor(model => model.CourseCode)</div>
            <div><b>Ders Adı: </b>@Html.DisplayFor(model => model.CourseName)</div>
            <div><b>Departman Adı: </b>@Html.DisplayFor(model => model.Department.DepartmenName)</div>
            <div><b>Fakülte Adı: </b>@Html.DisplayFor(model => model.Faculty.FacultyName)</div>
            <div><b>Yürütücü Adı: </b>@Html.DisplayFor(model => model.Lecturer.Title) @Html.DisplayFor(model => model.Lecturer.FullName)</div>
        </div>
    </div>
</div>


<div class="card shadow mb-4" style="margin-left: 25px; margin-right: 25px;">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Ders İçerik Bilgileri</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">
        <div class="card-body">
            <div><b>Ders Tipi: </b>@Html.DisplayFor(model => model.CourseType)</div>
            <div><b>Ders Dönemi: </b>@Html.DisplayFor(model => model.Semester)</div>
            <div><b>Ders Ön Koşulu: </b>@Html.DisplayFor(model => model.Precond)</div>
            <div><b>Teori: </b>@Html.DisplayFor(model => model.T)</div>
            <div><b>Uygulama: </b>@Html.DisplayFor(model => model.U)</div>
            <div><b>Laboratuar: </b>@Html.DisplayFor(model => model.L)</div>
            <div><b>Yerel Kredi: </b>@Html.DisplayFor(model => model.K)</div>
            <div><b>ECTS: </b>@Html.DisplayFor(model => model.E)</div>
        </div>
    </div>
</div>

<div class="col-md-offset-2 col-md-10" style="margin-left: 20px; margin-bottom: 25px;">
    <a class="btn btn-info" href="/Courses1/Index" role="button">Geri Dön</a>
</div>





@*
    <h2>Details</h2>

    <div>
        <h4>Course</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Semester)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Semester)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.T)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.T)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.U)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.U)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.L)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.L)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.K)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.K)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.E)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.E)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Precond)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Precond)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Department.DepartmenName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department.DepartmenName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Faculty.FacultyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Faculty.FacultyName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lecturer.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lecturer.Title)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
*@