@model MYUSIS.Models.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageOgretmen.cshtml";
}


<div class="card shadow mb-4" style="margin-left: 25px; margin-right: 25px;">
    <!-- Card Header - Accordion -->
    <a href="#collapseB1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseB1">
        <h6 class="m-0 font-weight-bold text-info">Yazı Paylaşım Bilgileri</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseB1">
        <div class="card-body">
            <div class="col-lg-8">
                <h1 class="">@Html.DisplayFor(model => model.Title)</h1>

                <p>Posted on @Html.DisplayFor(model => model.Date)</p>
                <p class="lead">
                    by
                    <a href="#">@Html.DisplayFor(model => model.Lecturer.Title) @Html.DisplayFor(model => model.Lecturer.FullName)</a>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="card shadow mb-4" style="margin-left:25px;margin-right:25px;">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-info">@Html.DisplayFor(model => model.Title) </h6>
    </div>
    <!-- Blog Post -->
    <div class="card mb-4">
        <div class="card-body">
            <p class="card-text">
                @Html.DisplayFor(model => model.Cont)
            </p>
        </div>
    </div>
</div>

<div class="form-group" style="margin-left: 30px;">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Düzenle", "Edit", new { id = Model.ArticleID }, new { @class = "btn btn-warning" })
        <a class="btn btn-info" href="/Articles2/Index" role="button">Geri Dön</a>
    </div>
</div>
