@model MYUSIS.Models.StudentAdress

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<div class="alert alert-danger" role="alert" style="margin-left: 25px; margin-right: 25px;">
    <p><h5 style="text-align: center;"><b>Öğrenci Adres Bilgisi Silme Bölümündesiniz</b></h5></p><hr />
    <p style="text-align: center;">Sileceğiniz Öğrenci Adres Bilgileri Aşağıdaki Gibidir.</p>
</div>
<div>

    <div class="card shadow mb-4" style="margin-left: 25px; margin-right: 25px;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Öğrenci Adres Bilgileri</h6>
        </div>
        <div class="card-body">
            <div><b>Adı Soyadı: </b>@Html.DisplayFor(model => model.Student.FullName)</div>
            <div><b>Telefon Numarası: </b>@Html.DisplayFor(model => model.Telephone)</div>
            <div><b>Adresi: </b>@Html.DisplayFor(model => model.Adress)</div>
            <div><b>İlçe: </b>@Html.DisplayFor(model => model.County)</div>
            <div><b>Şehir: </b>@Html.DisplayFor(model => model.City)</div>
            <div><b>Posta Kodu: </b>@Html.DisplayFor(model => model.PK)</div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-2 col-md-10" style="margin-left: 25px;">
            <input type="submit" value="Sil" class="btn btn-danger" />
            <a class="btn btn-warning" href="/StudentAdresses/Index" role="button">Geri Dön</a>
        </div>
    }
</div>
@*
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Delete</title>
    </head>
    <body>
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>StudentAdress</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PK)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PK)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Adress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.County)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.County)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telephone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telephone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Student.FullName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Student.FullName)
                </dd>

            </dl>

            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </body>
    </html>
*@